## 1. Create <code>DataFrame</code> from csv file

In [1]:
# change current working directory to where the files are available 
import os
os.chdir("C:\\Users\\bhaskar\\python practice\\datasets")
os.getcwd()

'C:\\Users\\bhaskar\\python practice\\datasets'

In [2]:
import pandas as pd
df = pd.read_csv("pandas_sales.csv",index_col="month")

In [3]:
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52
Jun     205  60.0    55

### 2. Get indexes of df

In [4]:
df.index

Index(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'], dtype='object', name='month')

## 3. Add two columns

In [6]:
df["salt_eggs"]= df.salt + df.eggs

In [7]:
df

       eggs  salt  spam  salt_eggs
month
Jan      47  12.0    17       59.0
Feb     110  50.0    31      160.0
Mar     221  89.0    72      310.0
Apr      77  87.0    20      164.0
May     132   NaN    52        NaN
Jun     205  60.0    55      265.0